extends layout

block stylesheet
  link(rel='stylesheet', href='/css/announcement.css')

block content
  .container
    h1.ui.center.aligned.header
      i.announcement.icon
      | 編輯公告
    form#form-ann.ui.form(method='post', action='/announcement/' + announcement.id + '/edit')
      .field
        a.ui.black.button(href='/announcement') 返回
        .ui.blue.submit.button 更新
      .fields
        .four.wide.field
          label 公告層級
          select.ui.selection.dropdown(name='level')
            option(value='0') 一般公告
            if announcement.level == 0
              option(value='1') 重要公告
            else
              option(value='1', selected='selected') 重要公告

        .twelve.wide.field
          label 公告標題
          input(type='text', name='title',autocomplete="off", placeholder='公告標題', value=announcement.title)
      .ui.message
        .header 公告內文可用的HTML標籤
        .content &lt;br&gt;&lt;a&gt;&lt;h3~h5&gt;&lt;strong&gt;&lt;i&gt;&lt;ul&gt;&lt;li&gt;
      .field
        label 公告內文
        textarea(name='content', placeholder='公告內文')!= announcement.content
      .ui.error.message

block javascript
  script(src='/js/announcement.js')
