extends layout

block stylesheet
  link(rel='stylesheet', href='/css/announcement.css')

block content
  .container
    h1.center
      i.announcement.icon
      | Announcements
    .ui.styled.fluid.accordion
      .active.title
        i.dropdown.icon
        | What is a dog?
      .active.content
        p A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.
      .title
        i.dropdown.icon
        | 123
      .content
        p hello world

block javascript
  script $('.ui.accordion').accordion();
