extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.sitemap.icon
      | 組隊系統
    .ui.items
      .item
        .image
          img(src='/img/wireframe.png')
        .content
          .header 英雄聯盟
          .meta
            span.cinema League of Legend
          .description
            .ui.segment
              if team.lol
                h4.ui.header= "隊伍名稱：" + team.lol.name
                h4.ui.header
                  | 隊長：
                  a.ui.blue.horizontal.label(href='/user/'+team.lol.leader.id)= team.lol.leader.local.name
                h4.ui.header
                  | 隊員：
                  each mem in team.lol.member
                    a.ui.horizontal.label(href='/user/'+mem.id)= mem.local.name
              else
                | 狀態: 尚未加入隊伍
            if team.lol
              a.ui.right.floated.green.button(href='/team/'+team.lol.id+'/edit') 編輯隊伍
              a.ui.right.floated.button(href='/team/'+team.lol.id) 隊伍公開頁面
            else
              a.ui.right.floated.blue.button(href='/team/new?gametype=lol') 創立隊伍

      .item
        .image
          img(src='/img/wireframe.png')
        .content
          .header 爐石戰記
          .meta
            span.cinema Hearth of Stone
          .description
            .ui.segment
              if team.hs
              else
                | 尚未加入隊伍
            a.ui.right.floated.blue.button(href='/team/new?gametype=hs') 創立隊伍

      .item
        .image
          img(src='/img/wireframe.png')
        .content
          .header 星海爭霸2: 蟲族之心
          .meta
            span.cinema Starcraft 2: Heart of Spawn
          .description
            .ui.segment
              if team.hs
              else
                | 尚未加入隊伍
            a.ui.right.floated.blue.button(href='/team/new?gametype=sc2') 創立隊伍

      .item
        .image
          img(src='/img/wireframe.png')
        .content
          .header 戰地之王
          .meta
            span.cinema AVA
          .description
            .ui.segment
              if team.hs
              else
                | 尚未加入隊伍
            a.ui.right.floated.blue.button(href='/team/new?gametype=ava') 創立隊伍
