extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content

  #live.ui.vertical.feature.segment
    .ui.centered.page.grid
      
  .ui.vertical.feature.segment
    .ui.centered.page.grid
      .fourteen.wide.column
        .ui.two.column.center.aligned.stackable.divided.grid
          .column
            h1.center
              i.announcement.icon
              | Important
            table.ui.celled.table
              tr
                td hello
                td.right.aligned.collapsing 10 hours ago
              tr
                td hello
                td.right.aligned.collapsing hours ago
          .column
            h1.center
              i.announcement.icon
              | Normal
            table.ui.celled.table
              tr
                td hello
                td.right.aligned.collapsing 10 hours ago
              tr
                td hello
                td.right.aligned.collapsing hours ago

block javascript
  script(src='/js/modal.js')
