extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content

  #live.ui.vertical.feature.segment
    .ui.centered.page.grid
      
  .ui.vertical.feature.segment
    .ui.centered.page.grid
      .fourteen.wide.column
        .ui.two.column.center.aligned.stackable.divided.grid
          .column
            h2.center Important
            p Take your kitty to a cat-ducation course and learn how to treat her well.
          .column
            h2.center Normal
            p Dig through our cat library to found out amazing things you can do with your kitty.

block javascript
  script(src='/js/modal.js')
