extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content

  #live.ui.vertical.feature.segment
    .ui.centered.page.grid
      
  .ui.vertical.feature.segment
    .ui.centered.page.grid
      .fourteen.wide.column
        .ui.two.column.center.aligned.stackable.divided.grid
          .column
            h1.center
              i.announcement.icon
              | 重要公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_important
                  tr
                    td= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()
          .column
            h1.center
              i.announcement.icon
              | 一般公告
            table.ui.celled.table
              thead
                tr
                  th 標題
                  th.right.aligned.collapsing 發布時間
              tbody
                each ann in announcement_normal
                  tr
                    td= ann.title
                    td.right.aligned.collapsing= ann.created.getFullYear() + "/" + (ann.created.getMonth()+1) + "/" + ann.created.getDate()
  .ui.vertical.feature.segment(style='min-height:200px;')
block javascript
  script(src='/js/modal.js')
