extends layout

block stylesheet
  link(rel='stylesheet', href='/css/login.css')

block content
  #login
    h1 登入 中央電競大賽
    p 你必須登入之後才可以參加相關比賽
    .ui.breadcrumb
      .active.section 登入
      .divider /
      a.section 註冊
    form.ui.form
      label Email
      .field
        input(type='email', name='email', placeholder='email')
      label Password
      .field
        input(type='password', name='password', placeholder='password')
      .field
        a.ui.basic.right.button
          i.icon.user
          | Login
