extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.trophy.icon
      | 新建隊伍
    form#form-team.ui.form(method='post', action='/team/new')
      .field
        a.ui.black.button(href='/team/dashboard') 返回
        .ui.blue.submit.button 創立
      .field
        label 啟動碼
        input(type='text', name='regcode', placeholder='啟動碼')
      .fields
        .four.wide.field
          label 遊戲類別
          select.ui.selection.dropdown(name='gametype')
            if game === "lol"
              option(value='0', selected='selected') 英雄聯盟
            else
              option(value='0') 英雄聯盟
            if game === "hs"
              option(value='1', selected='selected') 爐石戰記
            else
              option(value='1') 爐石戰記
            if game === "sc2"
              option(value='2', selected='selected') 星海爭霸2-蟲族之心
            else
              option(value='2') 星海爭霸2-蟲族之心
            if game === "ava"
              option(value='3', selected='selected') 戰地之王
            else 
              option(value='3') 戰地之王
        .twelve.wide.field
          label 隊伍名稱
          input(type='text', name='name', autocomplete='off', placeholder='隊伍名稱')
      .field
        label 隊伍介紹
        textarea(name='intro', placeholder='隊伍介紹')
      .ui.error.message
block javascript
  script(src='/js/team.js')
