extends layout

block stylesheet
  link(rel='stylesheet', href='/css/teamedit.css')

block content
  div.content-wrapper
    div.section-team
      a.pure-button.pure-button-primary(href='/team/dashboard#' + backTag) Go Back
      h1(style='text-align:center;margin:0;')= 'Edit - ' + gameName
      form.pure-form.pure-form-stacked(role='form', method='post', onsubmit='return false;')
        fieldset
          input#teamId(type='hidden', value=teamId)
          label(for='teamName') TeamName
          input#teamName(type='text', name='teamName', value=teamName)
          label(for='teamIntro') TeamIntro
          textarea#teamIntro(name='teamIntro', style='width: 100%;height: 200px;')= teamIntro
          button#btnupdate.pure-button.pure-button-primary(type='button' ) Update Info
          span#updateinfomsg
          if (gameType == 0 || gameType == 3)
            div.member-edit
              h1 members
              table#membertable.pure-table.pure-table-horizontal
                thead
                  tr
                    th(width='100px') Name
                    th email
                    th op
                tbody
                  tr
                    td 123
                    td jxcode.org@gmail.com
                    td x
                  tr
                    td New Member
                    td
                      input#newemail(type='email', placeholder='enter email address...')
                    td
                      button#btnnewemail.pure-button.pure-button-primary(type='button') Add

block javascript
  script(src='/js/teamedit.js')
