extends layout

block content
  .container
    h1.ui.center.aligned.header
      i.user.icon
      | 選手詳細資料
    a.ui.black.button(href='/user/') 選手列表
    .ui.segment
      h4.ui.header= "姓名：" + toshow.local.name
      h4.ui.header= "電子郵件：" + toshow.local.email
      h4.ui.header= "系所：" + departmentToName[toshow.local.department]
      h4.ui.header= "年級：" + gradeToName[toshow.local.grade]
