.section-announcement {
  width: 800px;
  margin: 30px auto;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid #ccc;
}

.hot {
  color: red;
}

#announcements {
  width: 100%;
  border: none;
}

#announcements thead {
  background: #fff;
  border-bottom: 3px solid #eee;
} 

#announcements tr {
  height: 40px;
}

tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

td a {
  color: #0078E7;
  text-decoration: none;
  font-size: 16px;
}
