.section-live {
  /*
  background-image: url('http://ttv-backgroundart.s3.amazonaws.com/404_backgroundart.jpg');
  */
  background-image: url('../img/123.jpg');
  background-position: center;
  height: 618px;
}

.live {
  width: 860px;
  height: 360px;
  margin: 0 auto;
  padding-top: 80px;
}

.live-info {
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(25,25,31,0.5);
}

.dark-wrapper {
  height: 100%;
  background: rgba(25,25,31,0.5);
}

.section-announcement {
  height: 380px;
}

.announcement {
  width: 860px;
  margin: 0 auto;
}

.announcement h2 {
  width: 95%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

table {
  width: 95%;
}

